# Django (as of 2018-02-12 and dependencies)

Django==2.0.2
pytz==2018.3


# django-debug-toolbar (as of 2018-02-28 with dependencies)

django-debug-toolbar==1.11.1
Django==2.0.2
pytz==2018.3
sqlparse==0.2.4

# django-environ (as of 2018-02-12 with dependencies)

django-environ==0.4.4
Django==2.0.2
psycopg2-binary==2.7.4
pytz==2018.3
six==1.11.0


# psycopg2 (as of 2018-02-12 - no dependencies)

psycopg2-binary==2.7.4


# bumpversion (as of 2018-02-20 - no dependencies)

bumpversion==0.5.3



